@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://www.teahub.io/photos/full/175-1758883_medical-background-free-image-background-for-hospital-website.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav a {
  padding: 10px;
  text-decoration: none;
  height: auto;
}

nav a:hover {
  padding: 10px;
  text-decoration: none;
  background-color: lightblue;
}

.HomeText {
  text-align: center;
  position: relative;
  top: 16vh;
  font-size: 5rem;
  font-family: 'Kanit', sans-serif;
}

.ElonImg {
  position: fixed;
  right: -4vh;
  bottom: 0vh;
}

nav {
  display: flex;
  position: relative;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  font-family: 'Kanit', sans-serif;
  font-size: 1.2em;
  height: 70px;
  padding: 5px;
}

.logButtons {
  justify-content: left;
  position: absolute;
  right: 0px;
  padding: 10px;
}

.logButtons span {
  padding: 10px;
}

.logout:hover {
  background-color: lightblue;
  cursor: pointer;
}

button {
  background-color: rgb(204, 230, 238);
  border: none;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(222, 247, 255);
  margin: 5px;
  font-size: 1.05em;
  font-weight: 600;
}

button:hover {
  cursor: pointer;
  background-color: rgb(108, 218, 255);
  padding: 10px;
  border-radius: 5px;
}

button:active {
  margin-top: 8px;
  margin-bottom: 2px;
}

.orderpage {
  display: flex;
  padding: 10px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

table {
  padding: 10px 0;
  border-collapse: collapse;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.6);
}

table td, table th {
  border-collapse: collapse;
  border: 1px solid black;
  padding: 5px 10px;
}

.message {
  color: green;
}

.error {
  color: red;
}

.message,
.error {
  padding: 15px;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  min-width: 25%;
  border-radius: 8px;
  margin: 10px;
  font-weight: 700;
}

.control {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-size: 1.15em;
  font-weight: 500;
  margin-bottom: 7px;
}

input {
  padding: 10px 8px;
  border: none;
  border-radius: 5px;
  font-size: 1.05em;
}

.checkmark, .radioButton {
  height: 15px;
  width: 15px;
}

.hospitals div {
  margin-top: 1px;
}

.hospitals div:hover {
  color: rgb(175, 216, 255);
}